*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html, body{
    height: 100%;
    width: 100%;
}

#page1{
    height: 100vh;
    width: 100%;
    background-color: rgb(87, 194, 213);
    display: flex;
    align-items: center;
    justify-content: center;
}
#page2{
    height: 100vh;
    width: 100%;
    background-color: rgb(65, 166, 184);
    display: flex;
    align-items: center;
    justify-content: center;
}
#page3{
    height: 100vh;
    width: 100%;
    background-color: rgb(7, 45, 52);
    display: flex;
    align-items: center;
    justify-content: center;
}

#box{
    height: 300px;
    width: 300px;
    background-color: red;
}