*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html, body{
    height: 100%;
    width: 100%;
}

#page1{
    height: 100vh;
    width: 100%;
    background-color: rgb(87, 194, 213);
}
#page2{
    height: 100vh;
    width: 100%;
    background-color: rgb(45, 112, 124);
}
#page3{
    height: 100vh;
    width: 100%;
    background-color: rgb(7, 45, 52);
}

#page2 #img-div{
    height: 100%;
    width: 35%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
}
#img-div img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    scale: 1.4;
}